/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url('./img/luuk-wouters-2rxgWHb.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* Header и Footer */
header, footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Навигация */
header nav ul,
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a,
footer ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul li a:hover,
footer ul li a:hover {
    background-color: #555;
}

/* Галерея */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #020000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    header nav ul li a {
        font-size: 0.8rem;
        padding: 5px;
    }

    .gallery {
        padding: 10px;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .gallery {
        width: 100%;
        max-width: none;
    }

    .container {
        max-width: 90%;
    }
}
